* {
    box-sizing: border-box;
}

header{
    border-style: 1px;
    border-color:rgb(105, 67, 73);
}

#nav li {
    float: center;
    padding: 20px 0px 0px 20px;
    text-decoration: none;
    display:inline;
    margin-left: 50px;
}
#nav a{
    text-decoration: none;
}
a.disabled{
    color: purple;
}
.disabled{
    color:gray;
}
.active{
    color: yellow;
}
/*section div:nth-of-type(5) {
    color:red;
}*/
.red{
    color: red;
}
.blue{
    color: blue;
}
.red + h4 {
    background-color: red;
}
.blue + h4 {
    background-color: blue;
}

.grandparent > h4 {
    border: 1px;
}

.promo{
    color: gold;
}

footer{
    height: 25px;
}